* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(./img/2ndimg.jpg);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(175, 58, 159, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  color: rgb(214, 202, 202);
}

.header {
  border-bottom: 1px solid rgba(175, 58, 159, 0.5);
  background-color: rgba(233, 198, 219, 0.5);
  padding: 20px 40px;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  transition: 1s;
}

.form button:hover {
  background-color: whitesmoke;
  color: #8e44ad;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001f61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #ff7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Muli";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: #001f61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

/* body {
  background-image: url(img/2ndimg.jpg);
  margin-top: 40px;
  background-size: cover;
}

.regform {
  width: 800px;
  background-color: rgb(0, 0, 0, 0.6);
  margin: auto;
  color: white;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.main {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
}

form {
  padding: 10px;
}

#name {
  width: 100%;
  height: 100px;
}

.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.firstname {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}
.lastname {
  position: relative;
  left: 417px;
  top: -80px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.firstlabel {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px;
  top: -45px;
}

.lastlabel {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 175px;
  top: -45px;
}

.email {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.code {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.number {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 255px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.area-code {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 16px;
  left: 54px;
  top: -4px;
}

.phone-number {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 16px;
  left: -100px;
  top: -2px;
}

.option {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 532px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  outline: none;
  overflow: hidden;
}

.option option {
  font-size: 20px;
}

#coustomer {
  margin-left: 25px;
  color: white;
  font-size: 18px;
}

.radio {
  display: inline-block;
  padding-right: 70px;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 15px;
  color: white;
}

.radio input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: black;
}

button {
  background-color: palevioletred;
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 12px;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}

button:hover {
  background-color: white;
  color: palevioletred;
}

.message {
  color: white;
}
.msg {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.wrapper {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 470px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.wrapper .name {
  margin-left: -196px;
  margin-top: 30px;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.text {
  position: relative;
  left: -23px;
  top: -37px;
  border-radius: 6px;
  width: 527px;
  height: 35px;
  padding: 2px 0 2px 5px;
  font-size: 16px;
  color: #555;
  overflow: hidden;
}

.error {
  color: #af4242;
  background-color: #fde8ec;
  padding: 10px;
  display: none;
  position: relative;
}
.error.display-error {
  display: block;
  margin-bottom: 20px;
  transform: translateY(-20px);
}

.success {
  margin-bottom: 30px;
  color: green;
  background-color: #d2ffd2;
  padding: 16px;
  display: none;
  position: relative;
}

.success.display.success {
  display: block;
} */
